:root{
    font-family: arial;
}
  
#newBook{
    display: block;
    margin: auto;
    height: 50px;
    width: 100px;
}
  
#main{
    margin: 7vh 3vw 0 3vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    grid-gap: 3vw;
    justify-items: center;
    align-items: center;
}
  
.bookDisplay{
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    align-items: center;
}
  
p{
    padding: 5px 5px 0 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.remove, .status{
    margin-bottom: 5px;
    align-self: end;
}
  
form{
    margin-top: 15vh;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 15px;
    justify-items: center;
    align-items: center;
}